body{
   margin: 0;
   padding: 0;
   background-color: black;
   font-family: monospace;
   /* background: url(img/backk.png) fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; */
}

.au{
    color: rgb(0, 255, 242);
}

.bigA{
    font-size: larger;
    position: relative;
    padding-left: 1%;
    margin-bottom: 1%;
    border: 5px double #00ff04c6;
    height: 20%;
    width: 900px;
    height: 250px;
    color: rgb(255, 255, 255);
}

.ing{
    position: absolute;
    left: 2%;
}

.num{
    position:absolute;
    /* max-width: 40px; */
}

.num1{
    top: 5%;
    left: 10%;
}
.num2{
    top: 50%;
    left: 10%;
}

.num3{
    top: 24%;
    left: 25%;
}

.num4{
    top: 24%;
    left: 45%;
}

.num5{
    border: 3px groove #0000ffc6;
    padding: 1px;
    top: 7%;
    left: 45%; 
}
.num8{
    border: 3px groove #0000ffc6;
    padding: 1px;
    width: 100px;
}

.num6{
    border: 1px solid #6fff00c6;
    text-align: justify;
    padding: 1px;
    top: 53%;
    right: 10%;
    left: 48%;
    overflow: auto;
    bottom: 5%;
}
.num7{
    padding: 1px;
    top: 40%;
    left: 32%;
}